h1 {
  color: red;
  text-align: center;
}
ul.errorList {
  display: none;
  color: red;
}

label {
  display: inline-block;
  text-align: right;
  width: 140px;
}

button {
  margin-left: 50%;
  margin-right: 50%;
}

form {
  border: 2px solid;
  border-color: #99ccff;
  border-radius: 5px;

  max-width: 350px;
  margin: 0 auto;
  text-align: left;
}
