{% extends "base.html" %}
{% block content %}
{% for product in products %}
    <article class="content-section">
        <h3 class="article-title">
            <a href= "{% url 'view-product' product.id %}"> 
                {{ product.name }} 
            </a>
        </h3>
        <p class="article-content">
            By <a href= "{% url 'sellerPage' product.seller_fk %}"> {{ product.seller_fk }}
            </a> on {{ product.pubDate }}
        </p>
    </article>
{% endfor %}
{% endblock %}
