{% extends "base.html" %}
{% block content %}
{% for product in products %}
    <article class="content-section">
        <h3 class="article-title">
            <a href= "{% url 'view-product' product.id %}"> 
                {{ product.name }} 
            </a>
            {% if product.photo %}
                <div>
                    <br>
                    <img class="img-thumbnail" src='{{ product.photo.url }}' width="30%">
                </div>
            {% endif %}
        </h3>
        <p>
            By <a href= "{% url 'sellerPage' product.seller_fk %}"> {{ product.seller_fk }}</a>
            <br>
            on {{ product.pubDate }}
        </p>
    </article>
{% endfor %}
{% endblock %}
