{% extends "base.html" %}
{% block content %}
{% for product in data %}
<div class="content-section">
  <legend class="border-bottom mb-2">Purchasing: {{ product.name }}</legend>
  <font size="+1">Customer Details</font>
  <p>
    <font size="-1">
    <b>Username:</b> {{ user.username }}
    <br>
    <b>Street:</b> {{ user.street }}
    <br>
    <b>Suburb:</b> {{ user.suburb }}
    <br>
    <b>Postcode:</b> {{ user.postcode }}
    <br>
    <b>State:</b> {{ user.state }}
    <br>
    <b>Country:</b> {{ user.country }}
    </font>
  </p>
  <font size="+1"><b>Payment Details</b></font>
</div>

{% endfor %}
{% endblock %}
