{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <legend class="border-bottom mb-2"><b>My Profile</b></legend>
      <p>
        <font size="-1">
          <b>Username:</b> {{ user.username }}
          <br>
          <b>Name:</b> {{ currentUser.firstName }} {{ currentUser.lastName}}{{ currentUser.sellerName}}
          <br>
          <b>Email:</b> {{ currentUser.email}}
          <br>
          <b>Phone Number:</b> {{ currentUser.phoneNumber }}
          <br>
          <b>Address:</b> {{ currentUser.street }}, {{ currentUser.suburb }}, {{ currentUser.postcode }}, {{ currentUser.state }}, {{ currentUser.country }}
        </font>
        <br> <br>
        <a href="http://127.0.0.1:8000/viewTransaction/">
          <button>View Transactions</button>
        </a>
      </p>
      {% if user.isSeller %}
      <legend class="border-bottom mb-2"><b>My Products</b></legend>
      {% for product in products %}
              <h3 class="article-title">
                  <a href= "{% url 'view-product' product.id %}">
                      {{ product.name }}
                  </a>
                  {% if product.photo %}
                      <div>
                          <br>
                          <img class="img-thumbnail" src='{{ product.photo.url }}' width="30%">
                      </div>
                  {% endif %}
              </h3>
              <p>
                  on {{ product.pubDate }}
              </p>
              <div class="border-bottom mb-2"></div>
      {% endfor %}
      {% endif %}
    </div>
{% endblock %}
