{% extends "base.html" %}
{% block content %}
{% for product in data %}
{% if user.id == product.seller_fk_id %}
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete {{ product }} listing</h5>
          <button type="button" class="close" data-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete the {{ product }} listing by {{product.seller_fk}}?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <a class="btn btn-danger" href="{% url 'deleteProduct' product.id %}" value="Delete">Delete</a>
        </div>
      </div>
    </div>
</div>
{% endif %}
<article class="content-section">
  <legend class="border-bottom mb-1">{{ product.name }}
      <a href="/paymentPage/{{product.id}}">
        <button class="btn btn-primary float-right ml-1">Buy</button>
      </a>
      {% if user.id == product.seller_fk_id %}
        <button class="btn btn-danger float-right" data-toggle="modal" data-target="#deleteModal">Delete</button>
      {% endif %}
  </legend>
  <p>By 
    <a href= "{% url 'sellerPage' product.seller_fk %}"> {{ product.seller_fk }} </a> 
      on {{ product.pubDate }}
    <br>
    <h3>Price: ${{ product.price }}</h3>
  <br>
  {% if product.photo %}
  <div class="media">
    <img class="img-responsive" src='{{ product.photo.url }}' width="100%">
  </div>
  {% endif %}
  <br>
  <b>Description:</b>
    {{ product.description }}
  <br>
    <b>Brand:</b> {{ product.brand }}
  <br>
    <b>Category:</b> {{ product.category }}
  <br><br>
  <b>Rating:</b> {{ product.rating }}/10
  <br>
  <b>Contact seller:</b> 
  <a href= "{% url 'sellerPage' product.seller_fk %}"> 
    {{ product.seller_fk }} 
  </a> 
</p>
</article>
{% endfor %}
{% endblock %}
