{% extends "base.html" %}
{% block content %}

<div class="content-section">
  <legend class="border-bottom mb-2"><b>My Transactions</b></legend>
{% for customer in customers %}
{% for transaction in transactions %}
{% for product in products %}
{% if forloop.counter == forloop.parentloop.counter %}
<article class="content-section">

  <h3 class="article-title">
     Product: {{ product.name }}
  </h3>
  <p class="article-content">
    <b>Purchase date:</b> {{ transaction.paidTime }}
    <b>Price</b>: ${{ product.price }}
    <b>Seller</b>: {{ product.seller_fk }}
    <b>Buyer</b>: {{ customer.firstName }}
  </p>
</article>
{% endif %}
{% endfor %}
{% endfor %}
{% endfor %}
</div>

{% endblock %}
